---
notes: |
  Commonly used `.ls-button` component.
---

<br>
<h4>Colors</h4>
<hr>

<p>
    <button class="ls-button">Submit</button>
    <button class="ls-button ls-button--white">Submit</button>
    <button class="ls-button ls-button--green">Submit</button>
    <button class="ls-button ls-button--faded ls-button--green">Submit</button>
    <button class="ls-button ls-button--blue">Submit</button>
    <button class="ls-button ls-button--yellow">Submit</button>
    <button class="ls-button ls-button--red">Submit</button>
</p>

<br>
<h4>Disabled</h4>
<hr>

<p>
    <button class="ls-button" disabled>Submit</button>
    <button class="ls-button ls-button--white" disabled>Submit</button>
    <button class="ls-button ls-button--green" disabled>Submit</button>
    <button class="ls-button ls-button--faded ls-button--green" disabled>Submit</button>
    <button class="ls-button ls-button--blue" disabled>Submit</button>
    <button class="ls-button ls-button--yellow" disabled>Submit</button>
    <button class="ls-button ls-button--red" disabled>Submit</button>
</p>

<br>
<h4>Outline</h4>
<hr>

<p>
    <button class="ls-button ls-button--outline">Submit</button>
    <button class="ls-button ls-button--outline ls-button--white">Submit</button>
    <button class="ls-button ls-button--outline ls-button--green">Submit</button>
</p>

<br>
<h4>Sizing</h4>
<hr>

<p>
    <button class="ls-button ls-button--xl">Submit</button>
    <button class="ls-button ls-button--lg">Submit</button>
    <button class="ls-button">Submit</button>
    <button class="ls-button ls-button--sm">Submit</button>
    <button class="ls-button ls-button--xs">Submit</button>
</p>

<br>
<h4>Button shaped like a link</h4>
<hr>

<p>
    <button class="ls-button ls-button--link">Button Link</button>
</p>

<br>
<h4>Button block</h4>
<hr>

<p>
    <button class="ls-button ls-button--block">Block Button</button>
</p>
