<div class="row">
    <div class="col-xs-12 col-sm-6">

        <div class="ls-cards-wrapper">
            <div class="ls-card">
                <img src="http://placehold.it/150x100">
                <div class="ls-well ls-well--white">
                    <p>Polaroid everyday carry marfa leggings tumblr kickstarter. Raw denim tattooed normcore woke, direct trade enamel pin 3 wolf moon mumblecore aesthetic drinking vinegar squid.</p>
                </div>
            </div>
            <div class="ls-card">
                <div class="ls-well ls-well--white">
                    <p>Synth offal put a bird on it hella, snackwave narwhal actually green juice cold-pressed farm-to-table activated charcoal kickstarter butcher vegan. Bushwick 90's thundercats kickstarter food truck, slow-carb small batch selvage selfies master cleanse cliche schlitz.</p>
                </div>
            </div>
            <div class="ls-card">
                <div class="ls-well ls-well--white">
                    <p>8-bit keytar single-origin coffee, chia mixtape blog intelligentsia cardigan knausgaard seitan crucifix.</p>
                </div>
                <div class="ls-card-footer">
                    <div class="ls-well ls-well--yellow">
                        Pickled single-origin coffee prism DIY, fashion axe locavore tote bag poke. Chillwave mixtape succulents asymmetrical af.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
