<div class="ls-panel">
    <div class="ls-panel-section">
        <div class="ls-well">
            Default well
        </div>
        <div class="ls-well ls-well--white">
            White well
        </div>
        <div class="ls-well ls-well--green">
            Green well
        </div>
        <div class="ls-well ls-well--blue">
            Blue well
        </div>
        <div class="ls-well ls-well--yellow">
            Yellow well
        </div>
        <div class="ls-well ls-well--red">
            Red well
        </div>
    </div>
</div>
