<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">

        <label for="text-input-with-addon-at-start">Label</label>
        <span class="ls-input-group">
            <span class="ls-input-group-addon">
                At Start
            </span>
            <input class="ls-input" type="text" id="text-input-with-addon-at-start">
        </span>

        <br>

        <label for="text-input-with-addon-at-end">Label</label>
        <span class="ls-input-group">
            <input class="ls-input" type="text" id="text-input-with-addon-at-end">
            <span class="ls-input-group-addon">
                At End
            </span>
        </span>

    </div>
</div>
