---
title: Color Utilities
fabricator: true
---

<h2>Colors</h2>

<br>

<div class="ls-well ls-well--white">
    <div class="row">
        {{#each palettes.palettes}}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <p class="ls-color-{{@key}}">
                <i class="fa fa-fw fa-lg fa-circle"></i>
                ls-color-{{@key}}
            </p>
            {{#each this}}
            <p class="ls-color-{{@../key}}--{{this}}">
                <i class="fa fa-fw fa-lg fa-circle"></i>
                ls-color-{{@../key}}--{{this}}
            </p>
            {{/each}}
        </div>
        {{/each}}
    </div>
</div>
